<div class="top">
  <div class="top-wrap">
    <div class="hd">
      <h1 class="logo">全站联盟</h1>
      <h2 class="title-wrap">
          <p class="title">全站联盟 - Totter.cn</p>
          <p class="subtitle">用技术为体验提供无限可能</p>
      </h2>
    </div>
    <div class="nav">
      <a class="menu" href="javascript:;">menu</a>
      <div class="nav-bar">
        <a href="/">主页</a>
        <a href="/list/7">CSS3</a>
        <a href="/list/6">HTML5</a>
        <a href="/list/5">JavaScript</a>
        <a href="/list/8">NodeJs</a>
        <a href="/list/2">Web开发</a>
      </div>
      <div class="search">
        <form class="form" action="//baidu.com/s" method="get" accept-charset="UTF-8">
          <input type="search" name="wd" class="txt" placeholder="搜索" results="0">
        </form>
      </div>
    </div>
  </div>
</div>