
<div class="sidebar">
  <div class="column">关注我们</div>
  <div class="widget">
    <h3 class="title">文章分类</h3>
    <ul class="list">
      <% count.forEach(function(item){ %>
      <li>
        <a href="/list/<%= item.id %>"><%= item.name %></a>
        <em>( <%= item.count %> )</em>
      </li>
      <% }) %>
    </ul>
  </div>
  <div class="widget">
    <h3 class="title">友情链接</h3>
    <ul class="list">
      <li><a href="https://vmto.github.io">git blog</a></li>
      <li><a href="http://vuejs.org/">vuejs</a></li>
      <li><a href="http://webpack.github.io/">webpack</a></li>
      <li><a href="https://nodejs.org/en/">nodeJs</a></li>
      <li><a href="http://www.expressjs.com.cn/">express</a></li>
    </ul>
  </div>
</div>