
<div class="sidebar">
  <div class="column">关注我们</div>
  <div class="widget">
    <h3 class="title">分类</h3>
    <ul class="list">
      <% count.forEach(function(item){ %>
      <li>
        <a href="javascript:;"><%= item.name %></a>
        <em>( <%= item.count %> )</em>
      </li>
      <% }) %>
    </ul>
  </div>
  <div class="widget">
    <h3 class="title">归档</h3>
    <ul class="list">
      <li>
        <a href="javascript:;">九月 2016</a>
        <em>(10)</em>
      </li>
      <li>
        <a href="javascript:;">九月 2016</a>
        <em>(10)</em>
      </li>
      <li>
        <a href="javascript:;">九月 2016</a>
        <em>(10)</em>
      </li>
      <li>
        <a href="javascript:;">九月 2016</a>
        <em>(10)</em>
      </li>
      <li>
        <a href="javascript:;">九月 2016</a>
        <em>(10)</em>
      </li>
    </ul>
  </div>
  <div class="widget">
    <h3 class="title">链接</h3>
    <ul class="list">
      <li>
        <a href="javascript:;">淘宝UED</a>
      </li>
      <li>
        <a href="http://www.nodejs.club/">Node地下铁</a>
      </li>
      <li>
        <a href="http://alinode.aliyun.com/">alinode</a>
      </li>
      <li>
        <a href="http://fex.baidu.com/">百度FEX</a>
      </li>
      <li>
        <a href="http://www.75team.com/">奇舞团</a>
      </li>
      <li>
        <a href="http://aotu.io/notes/">凹凸实验室</a>
      </li>
    </ul>
  </div>
</div>