<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="full-screen" content="yes">
  <!-- UC强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- QQ强制全屏 -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>全栈联盟 - Just for fun</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <% include inc/header.htm %>
  <div class="main">
    <div class="items">
      <div class="pos">
        <a href="javascript:;">当前位置：&gt;</a><a href="javascript:;">admin</a>
      </div>
      <div class="item">
        <form action="" method="post">
          <p><input type="text" name="username" plaseholder="帐号"></p>
          <p><input type="password" name="password" plaseholder="密码"></p>
          <p>
            <input type="reset" name="reset" value="重置">
            <input type="submit" name="submit" value="提交">
          </p>
        </form>
      </div>
    </div>
    <% include inc/sidebar.htm %>
  </div>
  <% include inc/footer.htm %>
</body>
</html>
