<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="full-screen" content="yes">
  <!-- UC强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- QQ强制全屏 -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>全栈联盟 - Just for fun</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <% include inc/header.htm %>
  <div class="main">
    <div class="items">
      <div class="pos">
        <a href="javascript:;">当前位置：&gt;</a><a href="javascript:;">首页</a>
      </div>

      <div class="article">
       <h1 class="title"><%= results.title %></h1>
       <div class="meta">
          <span>saturn</span>
          <em>2016-12-24</em>
          <em>收藏</em>
          <em>评论</em>
       </div>
        <div class="content">
          <%- results.content %>
        </div>
      </div>
    </div>
    <% include inc/sidebar.htm %>
  </div>
  <% include inc/footer.htm %>
</body>
</html>
