<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="full-screen" content="yes">
  <!-- UC强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- QQ强制全屏 -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>全栈联盟 - Just for fun</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <% include inc/header.htm %>
    <div class="main">
      <div class="items">
        <% results.forEach(function(item){ %>
          <div class="item">
            <div class="thumb">
              <a href="/article/<%=item.id%>"><img src="/img/pic.png" alt=""></a>
            </div>
            <div class="intro">
              <div class="title">
                <a href="/article/<%=item.id%>">
                  <%= item.title %>
                </a>
              </div>
              <div class="meta"> <span>NodeJs</span> 2016-09-26 </div>
              <div class="text">
                <%- item.info %>
              </div>
            </div>
          </div>
          <% }) %>
            <div class="pages-wrap">
              <div class="info"> <span>第 <%= now %> 页</span> <span>共 <%= total %>页</span> </div>
              <div class="pages">
                <% for(var i=1;i<=total;i++){ %>
                  <% if(i==now){ %>
                    <a href="/list/<%= id %>?p=<%= i %>" class="page active">
                      <%= i %>
                    </a>
                    <% continue } %>
                      <a href="/list/<%= id %>?p=<%= i %>" class="page">
                        <%= i %>
                      </a>
                      <% } %>
              </div>
            </div>
      </div>
      <div class="sidebar">
        <div class="panel user" id="user">
          <p><img src="/img/avatar.gif" alt=""></p>
          <p>Hello <span class="username"></span></p>
        </div>
        <div class="panel login" id="login">
          <div class="tab active">
            <h3 class="title">登录</h3>
            <form class="form-login" action="/api/user/login" method="post">
              <p>
                <input type="text" name="username" placeholder="用户名">
              </p>
              <p>
                <input type="text" name="password" placeholder="密码">
              </p>
              <p>
                <input type="submit" class="sub" value="登录">
              </p>
              <p class="warn"></p>
            </form>
          </div>
          <div class="tab">
            <h3 class="title">注册</h3>
            <form class="form-register" action="/api/user/register" method="post">
              <p>
                <input type="text" name="username" placeholder="用户名">
              </p>
              <p>
                <input type="text" name="password" placeholder="密码">
              </p>
              <p>
                <input type="submit" class="sub" value="注册">
              </p>
              <p class="warn"></p>
            </form>
          </div>
          <div class="tab-btn">
            <a href="javascript:;" class="btn">去登录</a>
            <a href="javascript:;" class="btn active">去注册</a>
          </div>
        </div>
        <div class="panel">
          <h3 class="title">文章分类</h3>
          <div class="tags">
            <% count.forEach(function(item){ %>
              <a href="/list/<%= item.id %>">
                <%= item.name %><em>(<%= item.count %>)</em></a>
              <% }) %>
          </div>
        </div>
        <div class="panel">
          <h3 class="title">友情链接</h3>
          <div class="link">
            <a href="https://vmto.github.io">git blog</a>
            <a href="http://vuejs.org/">vuejs</a>
            <a href="http://webpack.github.io/">webpack</a>
            <a href="https://nodejs.org/en/">nodeJs</a>
            <a href="http://www.expressjs.com.cn/">express</a>
          </div>
        </div>
      </div>
    </div>
    <% include inc/footer.htm %>
    <script>
      window.onload = function() {
        var oBox = document.getElementById('login');
        var aTab = oBox.getElementsByClassName('tab');
        var aBtn = oBox.getElementsByClassName('btn');

        for (var i = 0; i < aBtn.length; i++) {
          aBtn[i].index = i;
          aBtn[i].onclick = function() {
            for (var i = 0; i < aBtn.length; i++) {
              aTab[i].className = "tab";
              aBtn[i].className = "btn";
            }
            aTab[this.index].className = "tab active";
            aBtn[this.index].className = "btn active";
          };
        };
      };
    </script>
</body>

</html>
